<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Resume - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Content/css/resume.min.css" rel="stylesheet">
   
</head>

<body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">Clarence Taylor</span>
            <span class="d-none d-lg-block">
                <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="~/Content/img/履歷網站.jpg" alt="">
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">自介</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#experience">工作經歷</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#education">教育程度</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#skills">電腦技能</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#interests">自傳</a>
                </li>
                
            </ul>
        </div>
    </nav>

    <div class="container-fluid p-0">

        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
            <div class="w-100">
                <h1 class="mb-0">
                    吳旭騰                   
                </h1>
                <div class="subheading mb-5">                    
                    <a href="mailto:j6309j6@hotmail.com">j6306j6@hotmail.com</a>
                </div>
                <p class="lead mb-5">受訓於資策會125期C#就業養成班</p>
                <p>作品有工地專案管理系統，履歷網站。</p>
                
                <div class="social-icons">
                  
                    <a href="https://github.com/j6004j6/-">
                        <i class="fab fa-github"></i>
                    </a>
                    
                    <a href="https://www.facebook.com/profile.php?id=100000172030526">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </div>
            </div>
        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
            <div class="w-100">
                <h2 class="mb-5">工作經驗</h2>
                <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="resume-content">
                        <h3 class="mb-0">雲湧資訊股份有限公司</h3>
                        <div class="subheading mb-3">程式設計師</div>
                        <p>雲湧資訊擔任工程師，主要貢獻有對國防部網站進行維護及開發新功能，利用MVC架構與MS SQL與多人合作開發大型專案，替維護的網站建立資料庫備份機制以及備援機制，引進google analytics查看網站流量資訊，建立git版控流程紀錄程式碼異動，過程中讓我有大型專案開發經驗，以及駐點網站維護經驗，學習到大型網站的架構以及DB如何建立、iis架站經驗、實際網站除錯流程、開發網站功能流程，除此之外還學習到如何與使用者溝通，確定需求開發新功能，製作文件。</p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">04 2020 - 至今 </span>
                    </div>
                </div>
                <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="resume-content">
                        <h3 class="mb-0">華南產險</h3>
                        <div class="subheading mb-3">車險理賠人員</div>
                        <p>主要負責理賠相關事務、車輛維修勘核議價、案件查證、現場查勘參與和解</p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">08 2017 - 10 2019 </span>
                    </div>
                </div>
                <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="resume-content">
                        <h3 class="mb-0">台北旅店集團</h3>
                        <div class="subheading mb-3">新驛旅店夜間櫃台服務人員 </div>
                        <p>
                            主要業務為：客戶服務、訂房、排房、進房、退房。處理帳務，如：收款、核帳、查帳等。                            
                        </p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">03 2016 - 05 2017</span>
                    </div>
                </div>
                <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="resume-content">
                        <h3 class="mb-0">澳洲打工度假</h3>
                        <div class="subheading mb-3">英語系國家生活工作經驗</div>
                        <p>海外兩年的打工度假經驗，提升外語能力。</p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">06 2013- 06 2015</span>
                    </div>
                </div>

            </div>

        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
            <div class="w-100">
                <h2 class="mb-5">教育程度</h2>
                <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
                    <div class="resume-content">
                        <h3 class="mb-0">資策會</h3>
                        <div class="subheading mb-3">C#就業養成班</div>

                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">11 2019 - 03 2020</span>
                    </div>
                </div>
                <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="resume-content">
                        <h3 class="mb-0">國立東華大學</h3>
                        <div class="subheading mb-3">經濟學系輔修管理學程</div>
                        
                        
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">09 2007 - 06 2011</span>
                    </div>
                </div>

                

            </div>
        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
            <div class="w-100">
                <h2 class="mb-5">電腦技能</h2>                                          

                <div class="subheading mb-3"></div>
                <ul class="fa-ul mb-0">
                    <li>
                        
                        <img style="width:80%" src="~/Content/img/圖片1.png" />"
                    </li>
                  
                </ul>
            </div>
        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
            <div class="w-100">
                <h2 class="mb-5">自傳</h2>
                <p>
                    畢業於國立東華大學經濟學系，輔修管理學程，經濟學的相關課程，讓我學習到一個社會經濟體系的架構和日常生活中的交易行為、商管知識，透過分析經濟活動、統計分析、報告製作的過程也訓練了邏輯思考、分析歸納的能力。<br /><br />

                    目前從資策會的微軟C#就業養成班畢業，在資策會學習軟體的過程令我感到相當充實，其中最有興趣的是ASP.NET MVC的課程，透過ASP.NET MVC實作網頁時，使用物件取向的程式架構讓程式方便維護與更新，以及透過Model、View、Request的資料傳遞來分割功能避免與實體資料庫直接連接資料，在這些實作過程中，都可以進一步體會資策會所教的各種技術，透過自己的想法實作出來，讓我進一步了解各種技術的用法，真的是很有成就感的一件事，更加深我投身軟體工程工作的決心。<br /><br />

                    工作經驗有華南產險的理賠人員及旅店櫃台人員，這兩份工作都是在第一線面對客人，提供服務，處理客人的需求及解決問題，學習到如何與客人溝通，留下良好的印象及服務，也學習到如何與同事分工合作，透過這兩份工作，讓我體會到公司對於誠信、溝通、團體合作、培養新人、及工作制度的建立，而在金融保險業工作，環境需大量接觸金錢，可以證明我是一個正直可以信任的員工，其中經手過金額最高的案件，賠償金額為320萬元，這些賠償案件都經常需要與人溝通，無形中也加強了我與其他人合作與溝通的技巧。<br /><br />

                    海外經驗有兩年的澳洲打工度假，體驗過農場的艱苦生活，也有過工廠工作的經驗，以及在當地的咖啡廳工作與客人互動，與同事交流，在此學習自身面對陌生的一切，在國外的環境下找尋工作，規劃自己的旅程，在這兩年中我盡我所能的體驗每個我沒嚐試過的事物，不論是在工作或是旅遊都讓我耳目一新，也讓我的外語聽說能力可以與外國人溝通，是一段寶貴的經驗。

                    最後衷心感謝  貴主管在百忙之中撥冗閱讀個人履歷及自傳，衷心期盼能獲得錄用之機會，發揮所學及工作經歷，在軟體工程這份工作好好努力。
                </p>
            </div>
        </section>

       

       

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

    
    <!-- Custom scripts for this template -->
    <script src="~/Content/js/resume.min.js"></script>


</body>

</html>

