
@{
    ViewBag.Title = "QandA";
}
<br /><br />


<h4 style="font-weight:bold">自動對答機器人 :</h4>
<hr />

<iframe src='https://webchat.botframework.com/embed/mission1-bot?s=uQLI5rb1BmY.ha4ggKlEWKNxpV9Dfnw1D9vwvYAT9yB1_PklBZVx9y4' style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
@Html.ActionLink("回首頁", "首頁", "Home", new { }, new { @class = "btn btn-primary" })
